.head{
  background-color: #1f2937;
  margin: 0;
  border: 0;
  padding: 20px 50px 100px 100px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.hlogo{
    font-size: 30px;
    color:#f9faf8;
}

li,.subtext{
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #f9faf8;
}
ul{
    list-style-type: none;
    display: flex;
    margin-top: 2px;
    gap: 10px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
.header-bottom{
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.cta-button {
    background-color: #0609e4;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    padding: 8px 16px;
  }
  
  .cta-button:hover {
    background-color: #1462bb;
  }
  

.subtext{
    margin-bottom: 30px;
    min-width: 300px;
    color: #e5e7eb;
}
.section{
    display: flex;
    flex-direction: column;
    flex: 1;
}






.head2-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.head2-2 li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 30px;
}

.head2-2 li:last-child {
    margin-right: 0;
}

.head2-2 li img {
    height: 250px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 0 10px #ddd;
    margin-bottom: 10px;
}

.head2-2 li p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #333;
}
   

.head2 {
    background-color: #fff; /* Set background color to white */
    text-align: center; /* Align text to center */
    padding: 50px; /* Increase padding for .head2-1 */
}

.head2-1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.head2-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 30px; /* Add margin-top to create space between .head2-1 and .head2-2 */
}

.head2-2 li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 30px;
}

.head2-2 li:last-child {
    margin-right: 0;
}

.head2-2 li img {
    height: 250px;
    width: 200px; /* Change width to 100px */
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 0 10px #ddd;
    margin-bottom: 10px;
}

.head2-2 li p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #333;
}
