.head{
  background-color: #1f2937;
  margin: 0;
  border: 0;
  padding: 20px 50px 100px 100px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.hlogo{
    font-size: 30px;
    color:#f9faf8;
}

li,.subtext{
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #f9faf8;
}
ul{
    list-style-type: none;
    display: flex;
    margin-top: 2px;
    gap: 10px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
.header-bottom{
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.cta-button {
    background-color: #0609e4;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    padding: 8px 16px;
    border: 2px dotted #fff;
  }
  
  .cta-button:hover {
    background-color: #1462bb;
  }
  

.subtext{
    margin-bottom: 30px;
    min-width: 300px;
    color: #e5e7eb;
}
.section{
    display: flex;
    flex-direction: column;
    flex: 1;
}








.head2 {
    background-color: #fff; /* Set background color to white */
    text-align: center; /* Align text to center */
    padding: 50px; /* Increase padding for .head2-1 */
}

.head2-1 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #272525;
}

.head2-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 30px; /* Add margin-top to create space between .head2-1 and .head2-2 */
}

.head2-2 li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 10px;
}

.head2-2 li:last-child {
    margin-right: 0;
}

.head2-2 li img {
    height: 250px;
    width: 200px; /* Change width to 100px */
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 0 10px #ddd;
    margin-bottom: 10px;
}

.head2-2 li p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #333;
}





/* CSS for quote element */
.quote {
    display: flex;
    flex: 1;
    
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    text-align: center;
    padding: 20px 100px 20px 100px;
    height: 20vh;
  }
.give-by {
    font-size: 20px;
    text-align: right;
    margin-top:0px;
    font-weight: 550;
}
.quo{
    display: flex;
    flex-direction: column;
    padding-top: 50px ;
    padding-bottom: 50px;
    background-color: #e6e8ec;
}








.signup-box {
    background-color: #3882f6; /* sky blue */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 50px 200px 50px 200px;
    border-radius: 15px;
  }
  
  .signup-text {
    font-size: 20px;
    margin-top: 0;
  }
  
  .signup-button {
    background-color: #3882f6;
    border: 2px dotted #fff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin-right: 40px;
  }
  .signup-button:hover {
    background-color: #153ab3;
  }
  .leftside{
    display: flex;
    flex-direction: column;
    
    margin-left: 50px;

  }








  .ending {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }
 




